<app-header class="header"></app-header>

<section class="contact">
    <h2 class="contact__title">Contato</h2>

    <div class="contact__container">
        <div class="card__contact">
            <div class="card__description" style="justify-content: center;">
                <div class="description">
                    <h3 class="description__title">{{ contactObj.title }}</h3>
                    <h2 class="description__title-pousada">{{ contactObj.subTitle }}</h2>
                </div>
            </div>
            <div class="card__description">
                <div class="owner__contact">
                    <ul class="owner__list">
                        <li *ngFor="let owner of ownerList">
                            <a [href]="owner.ownerLink" target="_blank" class="owner__description-text">
                                <img class="owner__icon-image" src="assets/images/whatsapp.png" alt="Whatsapp">
                                {{ owner.ownerNumber }}
                            </a>
                            <img [src]="owner.ownerImage" class="owner__image" [alt]="owner.ownerName">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="contact__container">
        <div class="card__contact">
            <div class="card__description">
                <div class="description">
                    <p class="description__text"> {{ contactObj.description }} </p>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer class="footer"></app-footer>
<shared-sticky-wpp id="reservation-sticky-btn" class="whatsapp-effect"></shared-sticky-wpp>